
.card{
    margin-bottom: 20px;
    border-color: #c4c4e3;
    min-height: 5px;
    padding: 20px;
}
.card img{
    width: 100%
}
.card button, .card a.btnLink{ 
    width: 100%;
    display: block;
    text-decoration: none;
    line-height: 30px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: #b0b0d3;
   
}
.card .text{
    padding: 15x;
}
.card h4{
    font-size: 18px;
    padding: 10px 0 0 0;
}
p{
    font-size: 13px;
}

.btn-like{
    color: #fff;
}

.blue{
    background: #003d70!important;
}

.red{
    background: #df5757!important;
}